<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Heart Disease Analysis</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<nav class="navbar">
    <div class="logo">
        <span class="dot"></span>Heart Disease Analysis<span class="blue"></span>
    </div>

    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/analytics">Analytics</a></li>
        <li><a href="/team">Team</a></li>
        <li><a href="/story">Project Story</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>

    <a href="#" class="start-btn">Get Started</a>
</nav>

{% block content %}{% endblock %}

</body>
</html>