{% extends "base.html" %}

{% block content %}

<section class="story-section">

<div class="story-header">

<p class="section-tag">PROJECT STORY</p>

<h1>Heart Disease Data Story</h1>

<p class="section-desc">
This interactive data story highlights key insights from the heart disease dataset,
including demographic patterns, risk factors, and lifestyle impacts affecting
cardiovascular health.
</p>

</div>



<div class="story-box">

<iframe
src="https://public.tableau.com/views/heart_deasease_final/Story1?:embed=true&:showVizHome=no"
class="story-frame">
</iframe>

</div>

</section>

{% endblock %}